@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,500,700&amp;subset=latin-ext');
 @import url('https://fonts.googleapis.com/css?family=Varela+Round');

$accent-color: #7a85a6;
$accent-color: #78C6FD;

._center {
	margin-left: auto;
	margin-right: auto;
}

._text-center {
	text-align: center;
}

@import "_sass/reset";
@import "_sass/grid";

@import "_sass/page";
@import "_sass/typography";
@import "_sass/section";
@import "_sass/nav";

// Entities.
@import "_sass/card";
@import "_sass/button";