@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,500,700&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
._center {
  margin-left: auto;
  margin-right: auto; }

._text-center {
  text-align: center; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0; }

img, svg {
  max-width: 100%; }

@media (min-width: 540px) {
  .row {
    display: flex;
    flex-wrap: nowrap; }
    .row > .col {
      flex: 1; }
    .row .col + .col {
      margin-top: 0;
      margin-left: 2em; }
    .row.-no-gutter .col + .col {
      margin-left: 0; } }
.col + .col {
  margin-top: 2em; }

.table {
  display: table;
  width: 100%; }
  .table.-fixed {
    table-layout: fixed; }

.table-col {
  display: table-cell;
  vertical-align: middle; }

@-ms-viewport {
  width: device-width; }
body {
  -ms-overflow-style: scrollbar; }

html, body {
  min-width: 320px; }

body {
  background-color: #fafbfe;
  background-color: #fcfcfc;
  background-color: #fff; }

html {
  font-size: 62.5%; }

body {
  font: 1.7rem/1.6 "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500; }

h6 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.15em; }

ul, ol {
  margin-left: 2em; }

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + *,
p + p,
li ~ li {
  margin-top: 1em; }

a {
  text-decoration: none; }

.text-logo {
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 3.2rem;
  height: 64px;
  line-height: 60px;
  text-align: center;
  width: 64px; }

.container {
  max-width: 540px;
  width: 90%; }
  .container.-small {
    max-width: 360px; }
  .container.-large {
    max-width: 960px; }

.header {
  padding-top: 150px;
  padding-bottom: 150px; }

.section-header {
  text-align: center;
  margin-bottom: 100px; }
  .section-header > p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem; }
  .section-header h2 {
    display: inline-block;
    position: relative; }
    .section-header h2:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.5em;
      width: 100%;
      content: "";
      background: #78C6FD;
      height: 3px;
      border-radius: 25px; }

.services-section {
  margin-top: 6em;
  position: relative; }
  .services-section .row {
    display: block; }
  .services-section .col + .col {
    margin-left: 0;
    margin-top: 2em; }
  @media (min-width: 960px) {
    .services-section .row {
      display: flex; }
    .services-section .col + .col {
      margin-left: 2em;
      margin-top: 0; }
    .services-section:after {
      display: none; } }
  .services-section:after {
    position: absolute;
    content: "";
    top: 300px;
    bottom: 0;
    width: 100%;
    background-color: #dce7f7;
    z-index: -1; }
  .services-section > .services-footer {
    background-color: #7a85a6;
    background-color: #dce7f7;
    border-top: 1px solid #c7d9f2;
    border-bottom: 1px solid #c7d9f2;
    margin-top: -250px;
    padding: 300px 0 50px;
    color: #024574; }

.customers-section {
  box-shadow: inset 0px 30px 30px -30px rgba(197, 214, 255, 0.5);
  padding-top: 4em;
  padding-bottom: 4em; }

.contact-section {
  padding: 3em 0;
  background: linear-gradient(to right, #139cfc, #78C6FD, #0380d9);
  background: #48536e;
  background: #dce7f7;
  border-top: 1px solid #c7d9f2;
  border-bottom: 1px solid #c7d9f2; }

.footer {
  background-color: #444A59;
  padding: 3em 3em;
  color: white;
  font-size: 1.5rem; }
  .footer .table {
    width: initial; }
  .footer a {
    color: rgba(255, 255, 255, 0.25);
    transition: color .2s ease-in-out; }
    .footer a:hover {
      color: #fff; }
  .footer i {
    margin-right: 4px;
    margin-left: -20px; }
  .footer ul.footer-nav {
    list-style: none;
    margin-left: 0; }
    .footer ul.footer-nav li ~ li {
      margin-top: 0; }

nav {
  text-align: right;
  padding-top: 2em; }
  nav a {
    position: relative;
    display: inline-block; }
    nav a:after {
      position: absolute;
      height: 3px;
      bottom: -5px;
      left: 0;
      right: 0;
      content: "";
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transition: background .2s ease-in-out; }
    nav a:hover::after {
      background: #78C6FD; }
  nav a + a {
    margin-left: 2em; }

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0px 5px 10px rgba(122, 133, 166, 0.1);
  border: 1px solid #dce7f7;
  font-size: 1.4rem;
  position: relative; }
  .card > .card-header {
    margin-bottom: 2em;
    color: #4A4A4A;
    text-align: center; }
    .card > .card-header img.avatar {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      border: 5px solid #dce7f7; }
    .card > .card-header p {
      margin-top: 0;
      color: #A4A4A4; }
  .card table {
    border-collapse: collapse;
    width: 100%; }
  .card tr {
    padding: .5em 1em;
    color: #4A4A4A; }
  .card td {
    border-bottom: 1px dotted #D8D8D8;
    vertical-align: top;
    padding: .5em .5em; }
    .card td:first-of-type {
      color: #78C6FD;
      text-align: center; }
    .card td:nth-of-type(2) {
      font-weight: bold; }
    .card td:last-of-type {
      font-style: italic;
      color: #CDCDCD;
      text-align: right; }

.postcard {
  background-color: #fff;
  border-radius: 5px;
  padding: 2em;
  border: 1px solid #dce7f7;
  box-shadow: 0px 10px 20px rgba(122, 133, 166, 0.25);
  position: relative; }
  .postcard .table-col:last-of-type {
    border-left: 1px solid #d2cfd2;
    padding-left: 2em;
    padding-bottom: 4em; }
    .postcard .table-col:last-of-type p {
      border-bottom: 1px dotted #d2cfd2; }
  .postcard p + p {
    margin-top: 0; }
  .postcard .stamp {
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: 0;
    border: 1px dotted #d2cfd2;
    margin-bottom: 2em; }
  .postcard .postcard-heading {
    display: inline-block;
    position: relative;
    margin-bottom: 2em; }
    .postcard .postcard-heading:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.5em;
      width: 100%;
      content: "";
      background: #78C6FD;
      height: 3px;
      border-radius: 25px; }
  .postcard > .contact-button {
    position: absolute;
    right: 25px;
    bottom: 0;
    transform: translateY(50%); }

button,
.button {
  display: inline-block;
  background: #78C6FD;
  background: linear-gradient(to right, #78C6FD, #2da6fc);
  border-radius: 25px;
  padding: .5em 1em;
  font-size: 1.5rem;
  color: #fff; }
  button:hover,
  .button:hover {
    background: linear-gradient(to right, #78C6FD, #78C6FD); }
  button:active,
  .button:active {
    background: #2da6fc; }
  button i,
  .button i {
    margin-right: .5em; }

/*# sourceMappingURL=style.css.map */
