<section id="sec-03">
    <div class="container">
        <h2 class="sec-headline">Articles</h2>
        <p class="text-center">As open source developers we are interested in transferring our knowledge about our work as often as possible. Here we are collecting the latest blog posts, screencasts or announcements.</p>
        <p class="text-center margin-bottom"><a href="mailto:info@lambdaforge.io"><em>Got some questions we should write about? Let us know!</em></a></p>

        {% include article.html
        title="An Introduction to the Hitchhiker Tree"
        author="Christian Weilbach"
        description="The goal of the Hitchhiker tree is to wed three things: the query performance of a B+ tree, the write performance of an append-only log, and convenience of a functional, persistent data structure."
        tags="clojure"
        link="https://blog.datopia.io/2018/11/03/hitchhiker-tree"
        date="2018-11-03"
        %}

        {% include article.html
        title="Rapid Web App Prototyping with Clojurescript"
        author="Konrad Kühne"
        description="A short trip through web development via Om, a beautiful React-wrapper in Clojurescript, and replikativ, a simple synchronisation infrastructure"
        tags="clojure,react"
        link="http://konradkuehne.com/2017/06/19/prototyping-with-cljs.html"
        date="2017-06-19"
        %}

    </div>
</section>
