<section id="sec-04" class="shade-01-bg">
    <div class="container">
        <h2 class="sec-headline">Clients</h2>
        <p class="text-center">Having worked with large corprations as well as small startups, we are able to adjust to different environments.</p>
        <p class="text-center margin-bottom"><a href="mailto:info@lambdaforge.io"><em>We are happy to help you with your digital challenges!</em></a></p>

        {% include client.html
        title="Heidelberg Cement AG"
        description="Development of customer portal."
        tools="javascript,nodejs,react,linux,docker"
        link=""
        %}

        {% include client.html
        title="TWT Health GmbH"
        description="Review of medical assistance application for Parkinson patients."
        tools="javascript,nodejs,react,sql,linux,docker"
        link=""
        %}

        {% include client.html
        title="Oxford University"
        description="Development on probabilistic programming language system Anglican."
        tools="clojure,probabilistic-programming,statistics"
        link=""
        %}

        <input type="checkbox" id="show-clients" class="text-center mobile show-more-box" />

        <div class="list-continued">

                {% include client.html
                title="100 Worte GmbH"
                description="Design and development of a data-intensive information system for emotional text analysis. Product development from architecture design to development and operations."
                tools="clojure,python,kafka,apache,linux,docker"
                link=""
                %}

                {% include client.html
                title="Economic Networks Limited"
                description="Development on an innovative functional blockchain exchange system. Design consulting for evolutionary architecture."
                tools="clojure,blockchain"
                link=""
                %}

                {% include client.html
                title="Heidelberg University"
                description="Collaboration with the Psychological Institute. Development and operation of an Android app in combination with a backend system and desktop application used for psychological research."
                tools="clojure,java,android,docker,linux"
                link=""
                %}

                {% include client.html
                title="feeba.me UG"
                description="Creation of a review web application for business end-users with integration of geo data."
                tools="clojure,java,android,linux,docker"
                link=""
                %}

                {% include client.html
                title="caprimed GmbH"
                description="Design of mobile web API for dental online marketplace. Development of Android application, API mockup and API testing framework."
                tools="javascript,clojure,nodejs"
                link=""
                %}

                {% include client.html
                title="Exzellenzhotel Heidelberg"
                description="Design and implementation of a multi-lingual, isomorphic content management system."
                tools="javascript,html,css,react,nodejs,linux,docker"
                link=""
                %}


                {% include client.html
                title="Apfel GmbH"
                description="Design overhaul of legacy API and database for IOT application in industrial storage towers."
                tools="javascript,nodejs,swift"
                link=""
                %}


                {% include client.html
                title="Brandagram GmbH"
                description="Development of an Android camera app with live filters, using a self-made OpenGl pipeline."
                tools="java,android,opengl"
                link=""
                %}

                {% include client.html
                title="MatchRider UG"
                description="Development of Android application and extension of web system for car sharing application."
                tools="java,javascript,android,react"
                link=""
                %}

                {% include client.html
                title="Biomedical Informatics Heidelberg"
                description="Statistical analytics of medical data."
                tools="clojure,r,spss"
                link=""
                %}

                {% include client.html
                title="Keatec GmbH"
                description="Deep-Learning based system for a callcenter application."
                tools="python"
                link=""
            %}
        </div>

        <label for="show-clients" class="show-more-label"></label>
    </div>

</section>
