<section id="sec-03">
    <div class="container">
        <h2 class="sec-headline">Process</h2>
        <ol class="flowchart">
            <li id="process-01" class="card">
                <h3 class="headline">Kick-off</h3>
                <h4>Worum geht's denn?</h4>
                <ul>
                    <li>getting to know each other</li>
                    <li>exchange product and domain knowledge</li>
                </ul>
            </li>
            
            <li id="process-02" class="card">
                <h3 class="headline">Analysis & Design</h3>
                <ul>
                    <li>envision overall product</li>
                    <li>set rough milestones</li>
                    <li>estimate costs</li>
                    <li>set timeline</li>
                    <li>define deliveries for first iterations</li>
                    <li>discuss and choose technologies</li>
                </ul>
                <a href="#">mehr</a>
            </li>
            
            <li id="process-03" class="card">
                <h3 class="headline">Implementation</h3>
                <ul>
                    <li>2 weeks iterations</li>
                    <li>user stories broken down into clear tasks</li>
                    <li>each task has mandatory stages: code, test, documentation, review, operation</li>
                    <li>pair programming with domain expert</li>
                </ul>
            </li>
            
            <li id="process-04" class="card">
                <h3 class="headline">Operations</h3>
                <ul>
                    <li>platforms: bare metal systems, virtual machines, cloud systems</li>
                    <li>deployment: automation, tests, security, documentation</li>
                    <li>continuous integration</li>
                    <li>continuous delivery</li>
                </ul>
                <a href="#">mehr</a>
            </li>
            
            <li id="process-05" class="card">
                <h3 class="headline">Support</h3>
                <ul>
                    <li>bug fixing</li>
                    <li>training (product usage, product development, product lifecycle)</li>
                    <li>monitoring services</li>
                    <li>system reviews</li>
                </ul>
            </li>
        </ol>
        <p class="text-center mobile"><em>...  aaaaand<br><strong><a href="#process-02">back to #2</a></strong></em></p>
        
    </div>
</section>

