<section id="sec-05">
    <div class="container">
        <h2 class="sec-headline">Open Source Projects</h2>
        <p class="text-center">Our team is deeply invested in the Clojure and AI community. We advocate open source technologies and contribute to improve the modern web.</p>
        <p class="text-center margin-bottom"><a href="mailto:info@lambdaforge.io"><em>Support our ideas for a better world!</em></a></p>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue d"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>datahike</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>A durable datalog implementation adaptable for distribution.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://konradskuechenstudio.de">konradskuechenstudio.de</a>
            </aside>
        </div>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue r"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>replikativ</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>An open, scalable and distributive infrastructure for a data-driven community of applications.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue a"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>anglican</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>A probabilistic programming language to leverage your domain knowledge and data to infer business critical information.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>

        <input type="checkbox" id="show-projects" class="text-center mobile show-more-box" />


        <div class="list-continued">

        <div class="card-horiz shade-01-bg">
            <figure class="square-blue k"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>konserve</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>A clojuresque key-value/document store protocol with core.async.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue k"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>kabel</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>A library for simple wire-like connectivity semantics.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue h"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>hasch</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>Cross-platform (JVM and JS atm.) edn data structure hashing for Clojure.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>
        
        <div class="card-horiz shade-01-bg">
            <figure class="square-blue i"></figure>
            <table>
                <tr>
                    <td>Project</td>
                    <td>incognito</td>
                </tr>
                <tr>
                    <td>Zeitraum</td>
                    <td>09/2017 - heute</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>Safe transport of unknown record types in distributed systems.</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td> - ICONS go here - </td>
                </tr>
            </table>
            <aside>
                <a href="http://replikativ.io">replikativ.io</a>
            </aside>
        </div>
        
        </div>


        <label for="show-projects" class="show-more-label"></label>
    </div>
    
</section>
