.card {
	background-color: #fff;
	border-radius: 5px;
	padding: 2em;
	box-shadow: 0px 5px 10px rgba(#7a85a6, .1);
	// box-shadow: 0px 5px 10px rgba(#000, .05);
	border: 1px solid darken(#dce7f7, 5);
	font-size: 1.5rem;
	position: relative;

	> .card-header {
		margin-bottom: 1em;
		color: #4A4A4A;
		text-align: center;

		img.avatar {
			width: 128px;
			height: 128px;
			border-radius: 50%;
			border: 5px solid #dce7f7;
		}

		i.avatar {
			font-size: 128px;
			line-height: 1;
		}

		p {
			margin-top: 0;
			color: #A4A4A4;
		}
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	tr {
		padding: .5em 1em;
		color: #4A4A4A;
	}

	td {
		border-bottom: 1px dotted #D8D8D8;
		vertical-align: top;
		padding: .5em .5em;

		&:first-of-type {
			color: $accent-color;
			text-align: center;
		}

		&:nth-of-type(2) {
			font-weight: 500;
		}
	}
}

.postcard {
	background-color: #fff;
	border-radius: 5px;
	padding: 2em;
	border: 1px solid #dce7f7;
	border: 1px solid darken(#dce7f7, 5);
	box-shadow: 0px 5px 10px rgba(#7a85a6, .1);
	position: relative;
	font-size: 1.4rem;

	@media (min-width: 640px) {
		font-size: inherit;
	}

	.table-col {
		&:first-of-type {
			padding-right: 2em;
		}

		&:last-of-type {
			border-left: 1px solid #d2cfd2;
			padding-left: 2em;
			padding-bottom: 4em;

			p {
				border-bottom: 1px dotted #d2cfd2;
			}
		}
	}

	p + p {
		margin-top: 0;
	}

	.stamp {
		width: 64px;
		height: 64px;
		margin-left: auto;
		margin-right: 0;
		border: 1px dotted #d2cfd2;
		margin-bottom: 2em;
	}

	.postcard-heading {
		display: inline-block;
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -.5em;
			width: 100%;
			content: "";
			background: $accent-color;
			height: 3px;
			border-radius: 25px;
		}
	}

	> .contact-button {
		position: absolute;
		right: 25px;
		bottom: 0;
		transform: translateY(50%);
	}
}

.customer-card {
	border: 1px solid #CFD4E6;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 15px;
	background-color: #fff;
	font-size: 1.6rem;

	> header {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(207,212,230,0.4);
	}

	& + & {
		margin-top: 2em;
	}

	ul {
		list-style: none;

		li ~ li {
			margin-top: 0;
		}

		li {
			position: relative;
		}

		li:before {
			position: absolute;
			content: "-";
			left: -20px;
		}
	}
}

.card-item {
	display: inline-block;
	border: 1px solid #CFD4E6;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 1.8rem;
	background-color: #fff;
}

a.card-item {
	color: #7a85a6;
}