.container {
	max-width: 540px;
	width: 90%;

	&.-small {
		max-width: 360px;
	}

	&.-large {
		max-width: 1200px;
	}
}

body {
	background-image: url('../images/bg.svg');
	background-repeat: no-repeat;
	background-position: center 150px;
	background-size: cover;
	background-attachment: fixed;
}

section + section {
	margin-top: 4em;
}

.main-row {
	margin-top: 100px;
	margin-bottom: 100px;

	.sidebar {
		font-size: 1.7rem;

		@media (min-width: 1200px) {
			position: fixed;
			width: 380px;
		}
	}
}

.section-header {
	text-align: center;
	margin-bottom: 100px;

	> p {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.2rem;
	}

	h2 {
		display: inline-block;
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -.5em;
			width: 100%;
			content: "";
			background: $accent-color;
			height: 3px;
			border-radius: 25px;
		}
	}
}

.services-section {
	.container + .container {
		margin-top: 100px;
	}

	.row {
		display: block;
	}

	.col + .col {
		margin-left: 0;
		margin-top: 2em;
	}

	.row + .row {
		margin-top: 2em;
	}

	.row + .table {
		margin-top: 2em;
	}

	@media (min-width: 1100px) {
		.row {
			display: flex;
		}

		.col + .col {
			margin-left: 1em;
			margin-top: 0;
		}
	}
}

.customers-section {
	// background-color: #f8faff;
	// background-color: #dce7f7;
	// background-color: #fff;
	// box-shadow: inset 0px 30px 30px -30px rgba(darken(#f8faff, 10), 0.5);
	padding-top: 4em;
	padding-bottom: 4em;

	// .col + .col {
	// 	margin-top: 1em;
	// }
}

.contact-section {
	padding: 3em 0;
	// background: linear-gradient(to right, darken($accent-color, 20), $accent-color, darken($accent-color, 30));
	// background: #48536e;
	// background: #dce7f7;
	border-top: 1px solid darken(#dce7f7, 5);
	border-bottom: 1px solid darken(#dce7f7, 5);
}

.footer {
	background-color: #444A59;
	border-top: 1px solid darken(#444A59, 5);
	padding: 3em 3em;
	color: white;
	font-size: 1.6rem;

	.table {
		width: initial;
	}

	a {
		color: rgba(#fff, .25);
		transition: color .2s ease-in-out;

		&:hover {
			color: #fff;
		}
	}

	i {
		margin-right: 4px;
		margin-left: -20px;
	}

	ul.footer-nav {
		list-style: none;
		margin-left: 0;

		li ~ li {
			margin-top: 0;
		}
	}
}