html { font-size: 62.5% }

body {
	font: 1.8rem/1.6 "Dosis", sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis", sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 2.2rem;
	color: #7a85a6;
	color: $accent-color;
}

h6 {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.15em;
}

ul, ol {
	margin-left: 2em;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + *,
p + p,
li ~ li {
	margin-top: 1em;
}

a {
	text-decoration: none;
}

.text-logo {
	border-radius: 50%;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 3.2rem;
	height: 64px;
	line-height: 60px;
	text-align: center;
	width: 64px;
}

.button i, button i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i, {
	margin-right: .5em;
}