@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,500,700&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600|Ubuntu:300,400,400i,500');

$accent-color: #7a85a6;
$accent-color: #78C6FD;

$border-color: #dce7f7;


._center {
	margin-left: auto;
	margin-right: auto;
}

._text-center {	text-align: center }
._text-right {	text-align: right }

@import "reset";
@import "grid";

@import "page";
@import "typography";
@import "section";
@import "nav";

// Entities.
@import "card";
@import "button";
@import "list";