.container {
	max-width: 540px;
	width: 90%;

	&.-small {
		max-width: 360px;
	}

	&.-large {
		max-width: 960px;
	}
}

.header {
	padding-top: 150px;
	padding-bottom: 150px;
}

.section-header {
		text-align: center;
		margin-bottom: 100px;

		> p {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.2rem;
		}

		h2 {
			display: inline-block;
			position: relative;

			&:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: -.5em;
				width: 100%;
				content: "";
				background: $accent-color;
				height: 3px;
				border-radius: 25px;
			}
		}
	}

.services-section {
	margin-top: 6em;
	position: relative;

	.row {
		display: block;
	}

	.col + .col {
		margin-left: 0;
		margin-top: 2em;
	}

	@media (min-width: 960px) {
		.row {
			display: flex;
		}

		.col + .col {
			margin-left: 2em;
			margin-top: 0;
		}

		&:after {
			display: none;
		}
	}

	&:after {
		position: absolute;
		content: "";
		top: 300px;
		bottom: 0;
		width: 100%;
		background-color: #dce7f7;
		z-index: -1;
	}

	> .services-footer {
		background-color: #7a85a6;
		background-color: #dce7f7;
		// background-color: #fcfcfc;
		border-top: 1px solid darken(#dce7f7, 5);
		border-bottom: 1px solid darken(#dce7f7, 5);
		margin-top: -250px;
		padding: 300px 0 50px;
		color: darken($accent-color, 50);
	}
}

.customers-section {
	// background-color: #f8faff;
	// background-color: #dce7f7;
	// background-color: #fff;
	box-shadow: inset 0px 30px 30px -30px rgba(darken(#f8faff, 10), 0.5);
	padding-top: 4em;
	padding-bottom: 4em;
}

.contact-section {
	padding: 3em 0;
	background: linear-gradient(to right, darken($accent-color, 20), $accent-color, darken($accent-color, 30));
	background: #48536e;
	background: #dce7f7;
	border-top: 1px solid darken(#dce7f7, 5);
	border-bottom: 1px solid darken(#dce7f7, 5);
}

.footer {
	background-color: #444A59;
	padding: 3em 3em;
	color: white;
	font-size: 1.5rem;

	.table {
		width: initial;
	}

	a {
		color: rgba(#fff, .25);
		transition: color .2s ease-in-out;

		&:hover {
			color: #fff;
		}
	}

	i {
		margin-right: 4px;
		margin-left: -20px;
	}

	ul.footer-nav {
		list-style: none;
		margin-left: 0;

		li ~ li {
			margin-top: 0;
		}
	}
}